html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-image: url(bgweb.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  top: 20px;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  height: 85vh;
}

.title {
  margin: 0;
  font-size: 80px;
  color: white;
  font-family: "Lucida Calligraphy Italic", "Brush Script MT", cursive;
  padding: 50px;
  text-align: center;
}

.content {
  margin: auto;
  width: 90%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}

.content p {
  padding: 20px;
  font-size: 20px;
}

.ul {
  padding: 20px;
}

.ul li {
  font-size: 20px;
  margin-left: 50px;
}

.hurufpertama {
  margin-left: 50px;
  font-size: 40px;
  color: #ffa500;
}

.table {
  margin: auto;
  text-align: center;
  width:100%;
}
